pkgbase = semver
	pkgdesc = The semantic version parser used by npm
	pkgver = 7.5.2
	pkgrel = 1
	url = https://github.com/npm/node-semver
	arch = any
	license = ISC
	makedepends = npm
	depends = nodejs
	noextract = semver-7.5.2.tgz
	source = https://registry.npmjs.org/semver/-/semver-7.5.2.tgz
	sha512sums = 4a87edb9344ebff7118c2cdefec7231b2883b5c532c70d6b818412658ed74e6b51e615fe766efa8836d31fc4e42cf1c242695b4154926cd6423ccda16f49279d

pkgname = semver
